@font-face {
  font-family: 'YoureGone';
  src: url('/fonts/youregone.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alpha-echo';
  src: url('/fonts/alpha_echo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}