  .progress-container {
    position: relative;
  }

  .progress-indicator {
    background-image: linear-gradient(90deg, #f2acac, #ff0000);
    background-size: 200% 100%;
    transition: width 1s ease-in-out;
    position: relative;
    z-index: 2;
  }
  
  
  
  @keyframes pulse {
    0%, 100% {
      transform: translate(50%, -50%) scale(1);
    }
    50% {
      transform: translate(50%, -50%) scale(1.2);
    }
  }

  