/* src/global.css */

/* Font definitions */

@import 'tailwindcss';

@import 'flowbite';

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

button:focus,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


@font-face {
    font-family: 'Alpha-echo';
    src: url('/fonts/alpha_echo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }



@font-face {
    font-family: 'yourgone';
    src: url('fonts/youregone.ttf') format('truetype');
}


h1, h2 {
    font-family: 'yourgone';
  }

body,div,p {
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    
}

/* Typography */


.large-title {
    font-size: 86pt;
}

.title {
    font-size: 50pt;
}

.headline {
    font-size: 21pt;
}

.description {
    font-size: 15pt;
}

/* Colors */
:root {
    --brand-color: #282828;
    --font-color: #090909;
    --font-secondary-color: #030303;
    --background-color: #d4d3d32f; /* gray89 */
    --my-gray: #5b5b5b; /* gray96 */
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
}

/* Apply secondary font color where needed */
.secondary-color {
    color: var(--font-secondary-color);
}

/* Main content */

.info{
        display: flex
;
    justify-content: space-between;
    flex-direction: column;
}
.funfact{
    width: 45%;
}

.main-content {
    color: black;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../assets/zvolsiinfo_QLogoTransparent.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: start;

}

h1 {
    font-size: 4rem;
    font-weight: bold;
}

h2{
    font-size: 1.4rem;
    font-weight: bold;
}

h3 {
    font-size: 1rem;
}

h3 .gray {
    color: var(--my-gray);
}


.info div {
    width: 45%;
}

.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button:focus,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

@media screen and (max-width: 768px) {
h1 {
    font-size: 3rem;
    font-weight: bold;
}

h2{
    font-size: 1.3rem;
    font-weight: bold;
}

h3 {
    font-size: 1rem;
}
}
